
.about {
  background-color: $white-smoke;
  @extend %box-shadow2;
  padding-top: em(50px);
  @include e(arrow) {
    left: 46%;
    margin-top: em(10px);
    color: $black;
    @include mq("medium") {
      left: 49%;
    }
  }
  @include e(carousel) {
    img {
      box-shadow: em(13px) em(12px) em(15px) em(5px) rgba(0,0,0,.3);
      border: em(3px) solid $white;
      margin: em(50px) 0;
      @include dim($w: em(280px), $h: em(260px));
      border-radius: $br--round;
      @include  mq("medium") {
      @include dim($w: em(500px), $h: em(350px));
      }
    }
  }
  h1 {
    @extend %hdln-prim;
  }
  p {
    margin: auto;
    width: 50%;
  }
}
