.contact {
  min-height: em(380px);
  padding-top: em(30px);
  @include dim($w: 100%, $h: 60vh);
  color: $white;
  background-color: rgba(0,0,0,.8);;
  img {
    margin-bottom: em(30px);
  }
  p {
    @extend %glow-text;
    font-size: em(20px);
    line-height: em(30px);
  }
  @include e(arrow) {
  // left: 49%;
  transform: rotate(180deg);
  animation: bouncearrow 5s infinite;
  color: $white;
}
  @include e(link) {
    text-transform: lowercase !important;
  }
}
