.contact {
  min-height: em(450px);
  padding-top: em(30px);
  @extend %box-shadow2;
  @include dim($w: 100%, $h: 60vh);
  color: $white;
  background-color: rgba(0,0,0,.8);
  img {
    margin-bottom: em(30px);
  }
  p {
    @extend %glow-text;
    font-size: em(20px);
    line-height: em(30px);
  }
  @include e(arrow) {
    left: 3%;
    transform: rotate(180deg);
    animation: bouncearrow2 5s infinite !important;
    color: $white;
    @include mq("medium") {
      left: em(-2px);
    }
}
  @include e(link) {
    text-transform: lowercase !important;
  }
}
