.home {
  box-shadow: em(5px) em(10px) $dark-grey;
  @include e(landing) {
    @include dim($w: 100%, $h: 100vh);
    @extend %landing;
  }
  @include e(wrap) {
    @extend %wrap;
  }
  @include e(inner) {
    @include pos($pos: fixed, $top: 0, $left: 0);
    background-image: url('../images/background-tokyo.jpg');
    @extend %inner;
  }
  @include e(caption) {
    @extend %caption;
    @include pos($pos: absolute, $top: 50%, $left: 10%);
    h1 {
      @extend %glow-text;
      font-size: em(30px);
      @include mq("medium") {
        font-size: em(40px);
      }
    }
    p {
      font-size: em(20px);
      color: $white;
    }
    button {
      color: $white;
    }
    @include e(arrow) {
      right: 10%;
      margin-top: em(15px);
      color: $white;
    }
  }
}
