.home {
  @include e(landing) {
    @include dim($w: 100%, $h: 100vh);
    @extend %landing;
  }
  @include e(wrap) {
    @extend %wrap;
  }
  @include e(inner) {
    @include pos($pos: fixed, $top: 0, $left: 0);
    background-image: url('../images/background-tokyo.jpg');
    @extend %inner;
  }
  @include e(caption) {
    @extend %caption;
    @include pos($pos: absolute, $top: 50%, $left: 10%);
    h1 {
      @extend %glow-text;
    }
    p {
      font-size: em(20px);
      color: white;
    }
    button {
      color: white;
      // @extend %glow-text;
    }
  }
}


input {border:0; outline:none;}

input:focus {outline:none;}
