.portfolio {
  background-color: $white-smoke;
  @extend %box-shadow2;
  padding-top: em(50px);
  min-height: em(2100px);
  @include mq("medium") {
    min-height: em(1000px);
    @include mq("large") {
      min-height: em(900px);
    }
  }
  @include e(project-card){
    @include flexbox($just: center, $align: center);
    margin: 0 auto;
  }
  @include e(arrow) {
    left: 47.5%;
    color: $black;
    @include pos($pos: absolute !important);
    margin-top: em(640px);
    @include mq("medium") {
      left: 49%;
      margin-top: em(285px);
      @include mq("large") {
        margin-top: em(255px);
      }
    }
  }
  h1 {
    @extend %hdln-prim;
  }

  @include e(block) {
    @include dim($w:em(230px), $h:em(170px));
    position: absolute;
    box-shadow: em(13px) em(12px) em(15px) em(5px) rgba(0,0,0,.3);
    cursor: pointer;
    @include mq("medium") {
      transform: rotateX(45deg) rotateY(0deg) rotateZ(20deg);
    }

    img {
      @include dim($w:em(230px), $h:em(170px));
      transition: all .6s;
      &:hover {
        transform: translate(-3%, -3%);
        opacity: .3;
      }
    }
    @include e(img-description) {
      @include pos($pos: absolute, $top: 0, $bottom: 0, $left: 0, $right: 0);
    }
    @include e(img-text) {
      margin-top: em(50px);
    }
  }


  #b1 {
    top: em(60px);
    @include mq("medium") {
      right: em(-160px);
      @include mq("large") {
        right: em(-500px);
      }
    }
  }

  #b2 {
    top: em(280px);
    @include mq("medium") {
      top: em(190px);
      right: em(-95px);
      @include mq("large") {
        right: em(-435px);
      }
    }
  }

  #b3 {
    top: em(500px);
    @include mq("medium") {
      top: em(320px);
      right: em(-30px);
      @include mq("large") {
        right: em(-370px);
      }
    }
  }

  #b4 {
    top: em(720px);
    @include mq("medium") {
      top: em(190px);
      right: em(-380px);
      @include mq("large") {
        top: em(180px);
        right: em(-720px);
      }
    }
  }

  #b5 {
    top: em(940px);
    @include mq("medium") {
      top: em(320px);
      right: em(-315px);
      @include mq("large") {
        top: em(310px);
        right: em(-655px);
      }
    }
  }

  #b6 {
    top: em(1160px);
    @include mq("medium") {
      top: em(450px);
      right: em(-250px);
      @include mq("large") {
        top: em(440px);
        right: em(-590px);
      }
    }
  }

  #b7 {
    top: em(1380px);
    @include mq("medium") {
      top: em(450px);
      right: em(35px);
      @include mq("large") {
        top: em(60px);
        right: em(-210px);
      }
    }
  }

  #b8 {
    top: em(1600px);
    @include mq("medium") {
      top: em(590px);
      right: em(105px);
      @include mq("large") {
        top: em(190px);
        right: em(-140px);
      }
    }
  }


  @include e(modal) {
    @include dim($w: 80%, $max-h: calc(120vh - 225px));
    @include pos($pos: fixed, $top: 50%, $left: 50%);
    @include roundy($br: em(10px), $bcolor: white);
    border: em(1px) solid $light-grey;
    z-index: 1;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: em(50px) em(60px);
    overflow-y: auto;

    img {
      @include dim($w: em(200px), $h: em(200px));
      @include mq("medium") {
        @include dim($w: em(400px), $h: em(320px));
      }
    }
    @include e(close-btn) {
      @include pos($pos: absolute, $top:em(10px), $right:em(10px));
      @include roundy($dim: em(40px), $br: $br--default, $bcolor: $light-grey);
      @extend %mouseover;
    }
  }

  @include e(overlay) {
    @include pos($pos: fixed, $top:0, $left: 0);
    @include dim($w: 100%, $h: 100%);
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
    background-color: rgba(0,0,0,.5);
  }
}
