.portfolio {
  background-color: $white-smoke;
  @extend %box-shadow2;
  padding-top: em(50px);
  min-height: em(2950px);
  @include mq("medium") {
    min-height: em(1820px);
  }
  h1 {
    @extend %hdln-prim;
  }
  @include e(project-card){
    @extend %center;
  }
  @include e(arrow) {
    color: $black;
    @include pos($pos: relative !important, $top: 300%, $left: 49%);
    margin-top: em(860px);
    @include mq("medium") {
      margin-top: em(505px);
    }
  }
  @include e(treehouse-title) {
    margin-top: em(-2700px);
    margin-bottom: em(-220px);
    @include mq("medium") {
      margin: em(-1600px) 0 em(-220px) 0;
    }
  }
  @include e(fcc-title) {
    margin: em(50px) 0 em(80px) 0;
    @include pos($pos: relative, $top: 54.5%);
    @include mq("medium") {
      top: 49%;
    }
  }

  @include e(container) {
    @extend %center;
    -webkit-perspective: em(900000px);
    perspective: em(900000px);
    @include mq("medium") {
      margin-left: em(400px);
      @include mq("large") {
        margin-left: em(800px);
      }
    }
  }

  @include e(block) {
    @include dim($w:em(230px), $h:em(170px));
    position: absolute;
    box-shadow: em(13px) em(12px) em(15px) em(5px) rgba(0,0,0,.3);
    cursor: pointer;
    @include mq("medium") {
      transform: rotateX(45deg) rotateY(0deg) rotateZ(20deg);
    }

    img {
      @include dim($w:em(230px), $h:em(170px));
      transition: all .6s;
      &:hover {
        transform: translate(-3%, -3%);
        opacity: .3;
      }
    }
    @include e(img-description) {
      @include pos($pos: absolute, $top: 0, $bottom: 0, $left: 0, $right: 0);
    }
    button {
      @extend %center;
      margin-top: em(50px);
      p {
        margin-top: em(15px);
      }
    }
  }


  #b1 {
    top: em(60px);
    @include mq("medium") {
      right: em(-160px);
    }
  }

  #b2 {
    top: em(280px);
    @include mq("medium") {
      top: em(190px);
      right: em(-95px);
    }
  }

  #b3 {
    top: em(500px);
    @include mq("medium") {
      top: em(320px);
      right: em(-30px);
    }
  }

  #b4 {
    top: em(720px);
    @include mq("medium") {
      top: em(190px);
      right: em(-380px);
    }
  }

  #b5 {
    top: em(940px);
    @include mq("medium") {
      top: em(320px);
      right: em(-315px);
    }
  }

  #b6 {
    top: em(1160px);
    @include mq("medium") {
      top: em(450px);
      right: em(-250px);
    }
  }

  #b7 {
    top: em(1550px);
    @include mq("medium") {
      top: em(850px);
      right: em(-185px);
      }
    }

  #b8 {
    top: em(1770px);
    @include mq("medium") {
      top: em(980px);
      right: em(-120px);
    }
  }

  #b9 {
    top: em(1990px);
    @include mq("medium") {
      top: em(1110px);
      right: em(-55px);
    }
  }

  #b10 {
    top: em(2210px);
    @include mq("medium") {
      top: em(980px);
      right: em(-400px);
    }
  }


  @include e(modal) {
    @include dim($w: 80%, $max-h: calc(120vh - 225px));
    @include pos($pos: fixed, $top: 50%, $left: 50%);
    @include roundy($br: em(10px), $bcolor: white);
    border: em(1px) solid $light-grey;
    z-index: 1;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: em(50px) em(60px);
    overflow-y: auto;

    img {
      @include dim($w: em(200px), $h: em(200px));
      @include mq("medium") {
        @include dim($w: em(400px), $h: em(320px));
      }
    }
    @include e(close-btn) {
      @include pos($pos: absolute, $top:em(10px), $right:em(10px));
      @include roundy($dim: em(40px), $br: $br--default, $bcolor: $light-grey);
      @extend %mouseover;
    }
  }

  @include e(overlay) {
    @include pos($pos: fixed, $top:0, $left: 0);
    @include dim($w: 100%, $h: 100%);
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
    background-color: rgba(0,0,0,.5);
  }
}
