.skills {
  background-color: $light-green;
  @extend %box-shadow2;
  padding-top: em(50px);
  @include e(icon) {
    padding: em(20px) 0;
    &:hover {
      animation: icon 2s linear infinite;
    }
    @include m(size) {
      position: relative;
      font-size: em(65px);
    }
  }
  @include e(arrow) {
    left: 49%;
  }
  h1 {
    @extend %hdln-prim;
  }
}
