.skills {
  @include e(icon) {
    &:hover {
      animation: icon 2s linear infinite;
    }
    @include m(size) {
      position: relative;
      font-size: em(65px);
    }
  }
}

@keyframes icon {
  0% {
    transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
