
.html {
  color: $orange;
  @include e(text-color) {
    color: $orange;
  }
}

.css {
  color: $dark-blue;
  @include e(text-color) {
    color: $dark-blue;
  }
}

.sass {
  color: $pink;
}

.boot {
  color: $purple;
}

.js {
  color: $yellow;
}

.python {
  color: blue;
}


.arrow {
  @extend %arrow;
}
