// ======================================
//  Base Styles
// ======================================

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $font-stack;
}

ul {
  list-style-type: none;
}

p {
  line-height: ($base__line/$base__font-size);
}

html,
body {
  height: 100%;
  width: 100%;
  color: #222;
}

body {
  overflow-x: hidden;
  color: #505962;
}

// .my-4 {
//   padding-top: em(-100px);
// }

.padding {
  padding-bottom: em(50px);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
